{% extends "baseG.html" %} {% load static %} {% block body %}
<div class="container mt-5">
  <h2 class="mb-4">Lista de Servicios Varios</h2>
  <a href="{% url 'add' %}" class="btn btn-primary">Volver</a>

  {% if messages %} {% for message in messages %}
  <div
    class="alert alert-{{ message.tags }} alert-dismissible fade show"
    role="alert"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Cerrar"
    ></button>
  </div>
  {% endfor %} {% endif %}

  <table id="myTable" class="table table-striped table-bordered border-success">
    <thead class="table-dark">
      <tr>
        <th class="header-cell w-5">Servicio:</th>
        <th class="header-cell w-5">Fecha y Hora:</th>
        <th class="header-cell w-5">Servicio de:</th>
        <th class="header-cell w-5">Jefe de Servicio</th>
        <th class="header-cell w-5">Autorizado Por:</th>
        <th class="header-cell w-5">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for varios in varios %}
      <tr>
        <td>{{ varios.servicio.get_servicio_display }}</td>
        <td>{{ varios.servicio.fecha_hora }}</td>
        <td>{{ varios.servicio_de }}</td>
        <td>{{ varios.jefe_servicio }}</td>
        <td>{{ varios.servicio_autorizado_por }}</td>
        <td>
          <button
            class="btn btn-warning"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modalVarios{{ varios.id }}"
          >
            <i class="bi bi-eye"></i> Ver Detalles
          </button>
          <a
            href="{% url 'editar_servicio_varios' varios.servicio.id varios.id %}"
            class="btn btn-primary btn-sm"
          >
            <i class="bi bi-pencil-square"></i>
          </a>

          <!-- Formulario para Eliminar -->
          <!-- Formulario para Eliminar cada herramienta -->
          <form
            action="{% url 'eliminar_servicio_varios' varios.id %}"
            method="post"
            style="display: inline"
            id="deleteForm-{{ varios.id }}"
          >
            {% csrf_token %}
            <button
              type="button"
              class="btn btn-danger btn-sm"
              onclick="confirmDelete('{{ varios.id }}')"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
          </form>
        </td>
      </tr>

      <!-- Modal for each Varios service -->
      <div
        class="modal fade"
        id="modalVarios{{ varios.id }}"
        tabindex="-1"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form
              method="POST"
              action="{% url 'editar_desactivar_varios' varios.id %}"
            >
              {% csrf_token %}
              <div class="modal-header bg-warning">
                <h5 class="modal-title">Detalles del Servicio Varios</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Cerrar"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <!-- Información General -->
                  <div class="col-md-6">
                    <h6>Información General</h6>
                    <div class="mb-3">
                      <label class="form-label"
                        ><strong>Estación:</strong></label
                      >
                      <p>{{ varios.servicio.estacion }}</p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label"><strong>Turno:</strong></label>
                      <p>{{ varios.servicio.turno }}</p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label"
                        ><strong>Dirección:</strong></label
                      >
                      <p>{{ varios.servicio.direccion }}</p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label"
                        ><strong>Telefonista:</strong></label
                      >
                      <p>{{ varios.servicio.telefonista }}</p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label"
                        ><strong>Bombero reporta:</strong></label
                      >
                      <p>{{ varios.servicio.bombero_reporta }}</p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label"><strong>Unidad:</strong></label>
                      <p>{{ varios.servicio.unidad }}</p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label"><strong>Piloto:</strong></label>
                      <p>{{ varios.servicio.piloto }}</p>
                    </div>
                  </div>
                  <!-- Información Específica -->
                  <div class="col-md-6">
                    <h6>Detalles de Varios</h6>
                    <div class="mb-3">
                      <label class="form-label"><strong>Piloto:</strong></label>
                      <p>{{ varios.servicio.piloto }}</p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label"
                        ><strong>Servicio de:</strong></label
                      >
                      <p>{{ varios.servicio_de }}</p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label"
                        ><strong>Jefe de servicio:</strong></label
                      >
                      <p>{{ varios.jefe_servicio }}</p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label"
                        ><strong>Servicio autorizado por:</strong></label
                      >
                      <p>{{ varios.servicio_autorizado_por }}</p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label"
                        ><strong>Hora salida:</strong></label
                      >
                      <p>
                        {{ varios.servicio.salida_hora|date:'Y-m-d\\TH:i' }}
                      </p>
                    </div>
                    <div class="mb-3">
                      <label class="form-label"
                        ><strong>Hora entrada:</strong></label
                      >
                      <p>
                        {{ varios.servicio.entrada_hora|date:'Y-m-d\\TH:i' }}
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Tercera columna para campos adicionales -->
                <div class="row mt-3">
                  <div class="col-12">
                    <h6>Información Adicional</h6>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label"
                            ><strong>Personal asistente:</strong></label
                          >
                          <p>{{ varios.servicio.personal_asistente }}</p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label"
                            ><strong>Km entrada:</strong></label
                          >
                          <p>{{ varios.servicio.km_entrada }}</p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label"
                            ><strong>Km salida:</strong></label
                          >
                          <p>{{ varios.servicio.km_salida }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label"
                            ><strong>Km recorridos:</strong></label
                          >
                          <p>{{ varios.servicio.km_recorridos }}</p>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="mb-3">
                          <label class="form-label"
                            ><strong>Observaciones:</strong></label
                          >
                          <p>{{ varios.servicio.observaciones }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <a
                  href="{% url 'generar_reporte_varios' varios.id %}"
                  class="btn btn-success"
                  >Descargar</a
                >
                <!-- <button
                  type="submit"
                  name="accion"
                  value="desactivar"
                  class="btn btn-danger"
                  onclick="return confirm('¿Está seguro de que desea desactivar este servicio?')"
                >
                  Desactivar
                </button>
                <button
                  type="submit"
                  name="accion"
                  value="editar"
                  class="btn btn-primary"
                >
                  Editar
                </button> -->
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  function confirmDelete(codigo_her) {
    // Usamos SweetAlert para mostrar una alerta personalizada
    Swal.fire({
      title: "¿Estás seguro?",
      text: "No podrás revertir esta acción",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#d33",
      cancelButtonColor: "#3085d6",
      confirmButtonText: "Sí, eliminarlo",
      cancelButtonText: "Cancelar",
    }).then((result) => {
      if (result.isConfirmed) {
        // Si el usuario confirma, enviamos el formulario específico por su ID
        document.getElementById(`deleteForm-${codigo_her}`).submit();
      }
    });
  }
</script>
{% endblock %}
