{% extends 'baseLangind.html' %} {% load static %} {% block content%}
<style>
  .carousel-image {
    height: 1000px; /* Define a fixed height for all images */
    object-fit: cover; /* Ensures images cover the area without distortion */
  }

  @media (max-width: 768px) {
    .carousel-image {
      height: 300px; /* Adjust height for smaller screens */
    }
  }
  .carousel-overlay {
    position: relative;
  }

  .carousel-overlay img {
    width: 100%;
    height: auto;
  }

  .carousel-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
  }
  .carousel-caption {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%; /* Abarca el 70% del ancho de la imagen */
    height: 70%; /* Abarca el 70% de la altura de la imagen */
    color: white;
    z-index: 2;
    text-align: justify;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .carousel-caption h5 {
    font-size: 3vw; /* Tamaño de fuente relativo al ancho de la ventana */
    margin-bottom: 10px;
  }

  .carousel-caption p {
    font-size: 1vw; /* Ajusta el tamaño del párrafo */
    margin-top: 10px;
    margin-bottom: 1px;
  }

  @media (max-width: 768px) {
    .carousel-caption {
      width: 80%; /* Aumenta el ancho del texto en pantallas pequeñas */
      height: 60%; /* Reduce la altura del contenedor de texto */
      padding: 20px; /* Reduce el padding */
    }

    .carousel-caption h5 {
      font-size: 5vw; /* Tamaño más grande en pantallas pequeñas */
    }

    .carousel-caption p {
      font-size: 1vw; /* Ajustar el párrafo */
    }
  }

  @media (max-width: 480px) {
    .carousel-caption {
      width: 90%; /* Aumenta aún más el ancho en pantallas muy pequeñas */
      height: 50%; /* Reduce la altura del contenedor de texto */
      padding: 15px; /* Reduce el padding */
    }

    .carousel-caption h5 {
      font-size: 5vw; /* Ajuste adicional para pantallas muy pequeñas */
    }

    .carousel-caption p {
      font-size: 1vw; /* Ajuste adicional para pantallas muy pequeñas */
    }
  }
</style>
<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="carousel-overlay">
        <img
          src="{% static 'img/equipo.jpeg' %}"
          class="d-block w-100 carousel-image"
          alt="..."
        />
        <div class="carousel-caption d-md-block">
          <h5 style="text-align: center">Tu apoyo puede salvar vidas</h5>
          <p>
            <strong>Querida comunidad,</strong> <br />
            En los Bomberos Municipales, nuestra misión es proteger y servir en
            momentos de emergencia, y cada día nos esforzamos por estar listos
            para cuando más se nos necesita. Sin embargo, nuestra labor no sería
            posible sin el apoyo de personas como tú. Hoy te invitamos a ser
            parte de nuestra misión con una donación que nos ayudará a continuar
            salvando vidas y brindando auxilio a quienes más lo necesitan.
            <br />Tus aportes serán destinados a: <br />🚒
            <strong>Equipamiento de emergencia:</strong> para mantener nuestras
            unidades y equipos en condiciones óptimas. <br />
            💉 <strong>Formación y capacitación:</strong> para que nuestro
            personal siga preparado para responder ante cualquier situación.
            <br />
            🏥 <strong>Servicios médicos y de rescate:</strong> para seguir
            brindando asistencia rápida y eficaz en cada llamada. <br />
            Cada donación, sin importar su tamaño, marca una gran diferencia en
            nuestra capacidad de actuar con rapidez y eficiencia. <br />
            Te invitamos a unirte a nuestra causa con el corazón y la
            solidaridad que nos caracteriza como comunidad. Haz tu donación hoy
            y ayuda a salvar vidas. <br />
            <strong
              >Gracias por tu apoyo, Bomberos Municipales Siempre al servicio de
              la comunidad.</strong
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container mt-5 border border-success rounded shadow p-3 containerInfo"
>
  <h2 class="text-center">Contactanos</h2>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="m-3">
      <div class="card" style="width: 18rem">
        <div class="d-flex justify-content-center align-items-center p-4">
          <i class="bi bi-telephone-fill" style="font-size: 2rem"></i>
        </div>
        <div class="card-body">
          <p class="card-text text-center">
            <span class="fw-bold">Números de emergencia:</span> <br />
            40261783 - 77665152
          </p>
        </div>
      </div>
    </div>

    <div class="m-3">
      <div class="card" style="width: 18rem">
        <div class="d-flex justify-content-center align-items-center p-4">
          <i class="bi bi-geo-alt-fill" style="font-size: 2rem"></i>
        </div>
        <div class="card-body">
          <p class="card-text text-center">
            <span class="fw-bold"> Ubicacion: </span>
            <br />
            Totonicapán Dirección: 12av. Entre 5ta. Y 6ta. Calle Zona 3
          </p>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 18rem">
        <div class="d-flex justify-content-center align-items-center p-4">
          <i class="bi bi-envelope" style="font-size: 2rem"></i>
        </div>
        <div class="card-body">
          <p class="card-text text-center">
            <span class="fw-bold">Correo electronico</span>
            <br />
            bomberosmunicipalestotonicapan@gmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container mt-5 border border-success rounded shadow p-3 containerInfo"
>
  <h2 class="text-center">Servicios</h2>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="m-3" style="width: 18rem">
      <div class="d-flex justify-content-center mt-3">
        <img src="{% static 'svg/fire.svg' %}" class="img-circle" alt="..." />
      </div>
      <div class="card-body">
        <p class="card-text border rounded shadow p-3 mt-2 text-center">
          <span class="fw-bold text-light fs-5 border-bottom"
            >Control y Extinción de Incendios</span
          >
          <br />
          Respondemos de manera inmediata a incendios residenciales, comerciales
          y forestales, utilizando técnicas avanzadas y equipos de última
          generación para proteger vidas y propiedades.
        </p>
      </div>
    </div>
    <div class="m-3" style="width: 18rem">
      <div class="d-flex justify-content-center mt-3">
        <img
          src="{% static 'svg/carCrash.svg' %}"
          class="img-circle"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text border rounded shadow p-3 mt-2 text-center">
          <span class="fw-bold text-light fs-5 border-bottom">
            Accidentes de Tráfico
          </span>
          <br />
          Nuestro equipo de rescate acude rápidamente a la escena de choques y
          accidentes de tráfico, brindando asistencia médica de emergencia y
          asegurando el entorno para prevenir daños mayores.
        </p>
      </div>
    </div>
    <div class="m-3" style="width: 18rem">
      <div class="d-flex justify-content-center mt-3">
        <img
          src="{% static 'svg/ambulance.svg' %}"
          class="img-circle"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text border rounded shadow p-3 mt-2 text-center">
          <span class="fw-bold text-light fs-5 border-bottom"
            >Servicios de Ambulancia</span
          >
          <br />
          Ofrecemos transporte médico de emergencia con ambulancias equipadas
          para brindar atención avanzada en el camino al hospital, asegurando
          que cada segundo cuente en situaciones críticas.
        </p>
      </div>
    </div>

    <div class="m-3" style="width: 18rem">
      <div class="d-flex justify-content-center mt-3">
        <img src="{% static 'svg/pet.svg' %}" class="img-circle" alt="..." />
      </div>
      <div class="card-body">
        <p class="card-text border rounded shadow p-3 mt-2 text-center">
          <span class="fw-bold text-light fs-5 border-bottom"
            >Rescate de Animales</span
          >
          <br />
          Rescatamos animales en situaciones de peligro, desde mascotas
          atrapadas en edificios hasta fauna silvestre en entornos urbanos,
          actuando con cuidado y compasión para proteger a todos los seres
          vivos.
        </p>
      </div>
    </div>

    <div class="m-3" style="width: 18rem">
      <div class="d-flex justify-content-center mt-3">
        <img src="{% static 'svg/toxic.svg' %}" class="img-circle" alt="..." />
      </div>
      <div class="card-body">
        <p class="card-text border rounded shadow p-3 mt-2 text-center">
          <span class="fw-bold text-light fs-5 border-bottom"
            >Gases y sustancias toxicas</span
          >
          <br />
          Somos expertos en la detección y control de fugas de gases peligrosos
          y manejo de sustancias tóxicas, garantizando la seguridad de los
          habitantes y la preservación del medio ambiente.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="container border border-success rounded shadow p-3 mt-5 containerInfo mb-5"
>
  <h2 class="text-center">Nuestra ubicación</h2>

  <div class="container mt-5">
    <div class="d-flex flex-wrap justify-content-center">
      <!-- Mapa responsive -->
      <div class="m-3 w-100" style="max-width: 100%">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3855.4621375277084!2d-91.365514523937!3d14.911324569391862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858eaf7aa47ef8bf%3A0xafaef86e580f6cd3!2sBomberos%20Municipales%20Totonicap%C3%A1n!5e0!3m2!1ses-419!2sgt!4v1721800137560!5m2!1ses-419!2sgt"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="border rounded shadow p-3 map-responsive"
        ></iframe>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
